@font-face {
    font-family: 'Dindra';
    src: url('DindraRegular-Regular.woff2') format('woff2'),
        url('DindraRegular-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

