#content {
    max-width: 1600px;
    margin: 0 auto;   
}
nav a {
    text-align: center;
    text-decoration: none;
}
#hero-msg h1 , #hero-msg h4 { 
    text-align: center;
}
.button-box { 
    text-align: center;
}
main section  {
    text-align: center;
}
#background {
    height: 725px;
}
.icon {
    width: 80px;
}
#hero-img {
    width: 100%;
} 
.logo {
    width: 80px;
}            
body {
    background-color: #fcfbfb; 
}
header {
    background-color:#1FB8FF;
}
nav a {
    background-color: #1FB8FF;
    color: #221656;
}
.home-title {
    background-color: #fcfbfb;
    color: #221656;
}
h4 {
    background-color: #fcfbfb;
    color: #221656;
}
msg h2 {
    background-color: #0092DB;
    color: #221656;
}
msg p {
    background-color: #0092DB;
    color: #221656;
}
nav a:hover {
    background-color: #0092DB;
    color: #221656;
}
.book, .join {
    background-color: #fcfbfb; 
    color: #221656;
    text-decoration: none;
}
.book:hover, .join:hover {
    background-color:#0492D4;
    color: #221656;
}
#background {
    background-color: #CB7E14;
}
.msg {
    background-color: #1FB8FF; 
}
footer {
    background-color:#FAFF1E;
    color: #CB7E14;
}
footer a {
    background-color:#FAFF1E;
    color: #CB7E14;
    text-decoration: none;
}
footer a:hover {
    background-color:#FAFF1E;
    color: #CB7E14;
}
footer p {
    font-size: 1.2em;
} 
footer p a:hover {
    text-decoration: underline;
}    